<!DOCTYPE html>
<html>
  <head>
    <title>Rutube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar mx-2 mb-4 p-2">
      <a href="" class="navbar-brand">
        <%= fa_icon "youtube-play", class: "text-danger" %>
        RUTUBE
      </a>
      <div>
        <% if user_signed_in? %>
          <%= link_to "로그아웃", destroy_user_session, method: "delete" %>
        <% else %>
          <%= link_to "로그인", user_session_path, class: "btn btn-primary" %>
          <%= link_to "회원가입", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
