<!DOCTYPE html>
<html>
  <head>
    <title>Rutube</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar mx-2 mb-4 p-2">
      <a href="<%= main_path %>" class="navbar-brand">      
        <%= fa_icon "youtube-play", class: "text-danger" %>
        <strong>RUTUBE</strong>      
      </a>    
      <%= form_tag videos_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :q, params[:q], class: "form-control" %>
        <%= submit_tag "검색", class: "btn btn-danger" %>
      <% end %>
      <div>
        <% if user_signed_in? %>
          <%= link_to "업로드", new_video_path, class: "btn btn-danger" %>
          <%= link_to "로그아웃", destroy_user_session_path, method: "delete", class: "btn btn-primary" %>
        <% else %>
          <%= link_to "로그인", user_session_path, class: "btn btn-primary" %>
          <%= link_to "회원가입", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>