<%= form_with(model: scaffold_blog) do |form| %>
  <% if scaffold_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scaffold_blog.errors.count, "error") %> prohibited this scaffold_blog from being saved:</h2>

      <ul>
        <% scaffold_blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
