<%= video_tag @video.file.url, controls: true, class: "w-100" if @video.file? %>
<h3>
  <%= @video.title %>
</h3>  
작성자: <%= @video.user.email %>

<%= simple_format @video.description %>

조회수: <%= @video.view_count.to_i %>

<%= link_to '수정', edit_video_path(@video), class: "btn btn-danger" %>
<%= link_to '삭제', @video, method: :delete, class: "btn btn-outline-danger" %>
 