<% @posts.each do |post| %>
<p>
    제목 : <%= post.title %>
</p>

<p>
    내용 : <%= post.description %>
</p>
<a href="/update/<%= post.id %>">수정하기</a>
<a href="/delete/<%= post.id %>">삭제</a>
<hr>
<% end %>


<%= form_tag "/create", method: :post do %>
    <label for="title">제목</label>
    <input type="text" name="title" /><br />
    <label for="description">내용</label>
    <input type="text" name="description" />
    <button type="submit">제출</button>
<% end %>