<!DOCTYPE html>
<html>
  <head>
    <title>VideoBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-700 text-gray-400 mx-4">
    <nav class="p-2 mb-2">
      <div class="flex justify-between items-center">
        <div>
          이미지
          <strong><%= link_to "JONGTUBE", main_path %></strong>
        </div>
        <div>
          <div class="w-64">                     
            <%= form_tag videos_path, method: :get  do %>            
              <%# 두번째 인자로 params[:search]를 보내줌으로써 검색후에도 검색창에 검색어가 남아있도록 %>
              <%= text_field_tag :search, params[:search], class: "rounded-full focus:ring-2 focus:ring--600 focus:border-transparent w-full px-2 py-1" %>
              <%# :name => nil 속성을 사용하면 URL의 검색어에서 commit 키워드를 제거할 수 있습니다. %>
              <%# <%= submit_tag("Search", :name => nil, class: "h-full bg-yellow-500 hover:bg-yellow-400") %> 
            <% end %>
          </div>
        </div>
        <div>
          <% if user_signed_in? %>
            <%= link_to "업로드", new_video_path, class: "btn btn-danger" %>
            <%= link_to "로그아웃", destroy_user_session_path, method: "delete", class: "btn btn-primary" %>
          <% else %>
            <%= link_to "로그인", user_session_path, class: "btn btn-primary" %>
            <%= link_to "회원가입", new_user_registration_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body row">
          <%= yield %>
        </div>
      </div>
    </div>   
  </body>
</html>
