<!DOCTYPE html>
<html>
  <head>
    <title>VideoBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-700 text-gray-400 mx-4">
    <nav class="p-2 mb-2">
      <div class="flex ...">
        <div class="flex-grow h-16 ...">
          이미지
          <strong><%= link_to "JONGTUBE", main_path %></strong>
        </div>
        <div class="flex-grow-0 h-16 ...">
          
        </div>
        <div class="flex-grow h-16 ...">
          <% if user_signed_in? %>
            <%= link_to "업로드", new_video_path, class: "btn btn-danger" %>
            <%= link_to "로그아웃", destroy_user_session_path, method: "delete", class: "btn btn-primary" %>
          <% else %>
            <%= link_to "로그인", user_session_path, class: "btn btn-primary" %>
            <%= link_to "회원가입", new_user_registration_path, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="card">
        <div class="card-body row">
          <%= yield %>
        </div>
      </div>
    </div>   
  </body>
</html>
